<form method="post" action="{{ path('app_mark_delete', {'id': mark.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mark.id) }}">
    <button class="btn">Delete</button>
</form>
