{% extends 'base.html.twig' %}

{% block title %}Edit Mark{% endblock %}

{% block body %}
    <h1>Edit Mark</h1>

    {{ include('mark/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mark_index') }}">back to list</a>

    {{ include('mark/_delete_form.html.twig') }}
{% endblock %}
