{% extends 'base.html.twig' %}

{% block title %}New Mark{% endblock %}

{% block body %}
    <h1>Create new Mark</h1>

    {{ include('mark/_form.html.twig') }}

    <a href="{{ path('app_mark_index') }}">back to list</a>
{% endblock %}
